<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="QFLan">
         <property
               name="appName"
               value="QFLan">
         </property>
         <property
               name="aboutImage"
               value="logo/qflanLogo250.gif">
         </property>
         <property
               name="aboutText"
               value="QFLan: analysis of probabilistic models of software product lines with quantitative constraints">
         </property>
         <property
               name="windowImages"
               value="logo/qflanLogo16.gif,logo/qflanLogo32.gif,logo/qflanLogo48.gif,logo/qflanLogo64.gif,logo/qflanLogo128.gif,logo/qflanLogo256.gif">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
