# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
ws418/it.imt.qflan.core/distr/win/win32.win32.x86_64/eclipse/
runtime-QFLan.product/
ws418/uppaalwrapper/
ws418/it.imt.qflan.xtext/xtend-gen/
ws418/it.imt.qflan.xtext/src-gen/
ws418/it.imt.qflan.xtext.ui/src-gen/
ws418/it.imt.qflan.xtext.ui/xtend-gen/
ws418/it.imt.qflan.xtext/bin/
ws418/it.imt.qflan.xtext.ui/bin/
ws418/.DS_Store
ws418/.metadata/
ws418/it.imt.qflan.core/MultiVeStA_OUTPUT/
ws418/it.imt.qflan.xtext.ide/bin/
ws418/it.imt.qflan.xtext.ide/src-gen/
ws418/it.imt.qflan.xtext.ide/xtend-gen/
ws418/it.imt.qflan.xtext.tests/bin/
ws418/it.imt.qflan.xtext.tests/src-gen/
ws418/it.imt.qflan.xtext.tests/xtend-gen/
ws418/.metadata/.lock
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/10/008f2910ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/10/c07c347b2d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/10/f0a71f37b977001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/12/e072e14f9079001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/13/006dce468879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/14/c04912226478001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/14/d0fd09d9267a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/15/706ef30ca677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/15/e08da7e4b777001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/17/90021feb8679001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/18/4035f260b777001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/19/8019a19d8779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/1a/c0eac332c077001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/1b/60d6f00ca677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/1b/c0241f33ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/1f/f0b7c5d8ac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/20/703b879bdd78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/21/506287cb2d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/22/408d160aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/22/d08aeba8b877001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/23/a0e3bb4d687a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/24/500f19aaad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/25/3071b92e9079001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/26/b0ad95b7b177001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/28/804658eade78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2c/10f57298267a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2c/60f9110aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2c/80220d938b79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2c/c0159657de78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2d/c092c57e2d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2e/90cf30586478001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/2f/d0fc883a8979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/3/d0885e05b977001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/30/4086796bac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/31/e0a31430ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/34/10e95d6ddd78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/35/00eb84b0aa77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/35/e0a0c3ebdf78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/38/90ec269edd78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/39/30becab12b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/39/d018e709a677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/3c/00d4143b8779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/3e/f082cd72657a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/3f/808796902b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/40/c0c43867ab77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/42/60f35b3cad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/42/e09de19e8979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/43/401bc5a8b177001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/44/701b4c9d267a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/45/20df0df01b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/45/50fa51fc1b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/48/305af1cede78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/48/c07853ac8b79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/4a/d08c4f639179001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/4c/002db1c72d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/4c/10e5973e2b79001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/5/d02d4c6f8879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/50/60b86d63be77001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/50/60c15530677a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/50/7030390aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/53/805e230aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/54/10f3f284af77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/54/b04bd557ac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/55/b08e7f5aad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/56/f0835df6de78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/57/30463ffa8779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/58/d0a0d286267a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/5a/3029c36a0a7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/5b/10a2663dac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/5f/9078b848ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6/106c3ee48979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6/a03776832f79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/61/609f1b55ab77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/61/90cce300ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/61/c05177a1b977001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/62/705cc78d2f79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/63/00a476e92979001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/63/90eeb2188e79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/64/90ede809a677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/65/a01c581dde78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/67/90590247ac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/69/70acd9979079001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6a/70968ef0df78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6a/8036e6858d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6b/207922d12d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6c/b096802fac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6e/40e430209079001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6e/701dbc10de78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6f/10a04e42ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/6f/30569b91df78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/7/106c83a68779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/71/3054c3c9b977001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/71/c0440c8db977001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/71/c0eb29f48679001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/77/108a80aa267a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/77/50afcd5cab77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/77/90faa77c8879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/78/b006555c8979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/78/c077da15ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/79/500abe6d657a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/79/e0039c911b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/81/10c32339be77001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/81/3074ea09a677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/81/50b11ae88879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/83/503894788e79001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/83/a0f514738879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/84/0009194dac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/84/50f46a4c9179001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/84/f003b909a677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/85/708c682e1c7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/85/8075340aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/85/c0661d0c8879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/85/c0d9194cb277001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/86/f0f801b3aa77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/87/d0de430aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/88/c05674d38d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/89/e012918dbe77001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/8a/a042b0e09179001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/8b/e0de2a76dd78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/8c/00ea2b0aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/8c/70cf2ab78979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/8d/50b4165dad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/9/f007c0da8679001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/90/b0a19e576478001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/91/00da680b1b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/92/309fd5c48c79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/94/60f41c04677a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/94/80b8b44e2979001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/95/60d4a3e7ab77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/96/608225a58a79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/9a/40a6eb0ca677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/9b/20a0e4552979001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/9b/d05d1a0aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a/b03deb371c7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a3/f048fa30ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a4/302e3cec8d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a4/e098a7501b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a5/10a61366667a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a5/406700dd6378001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a8/2040d7e6ac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a8/4050c4498f79001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a8/705e50afb177001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/a8/d04e4757657a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ad/d05f6d0aa677001d114381e72f033f3f
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ae/b08636b08879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/af/e0dc313aac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b/30915657dd78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b2/d05d41241c7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b3/e020f57f6378001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b5/603815186478001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b5/d07908aedd78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b5/f0e50e11ad77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b7/e064462b1c7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b7/e09661d1de78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/b8/00bc6fb1b177001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ba/4063dc282b79001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/bb/30dad9c1b177001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/bc/80dfa055ac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/c/f007c04fbe77001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/c1/90e6aaf3ab77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/c7/f019f305b477001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ca/70fce6629079001d105bec6bd0d80a84
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/cd/b03965988779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ce/b09c5b6ab877001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/cf/40ec4b688979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d/402af5fd2f79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d/f045b9512979001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d0/00f1353a1c7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d1/b0823cd9b977001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d3/f0c529f62f79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d7/10ad67c48a79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d7/500164251b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d8/e0951478be77001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d9/50dff3f08c79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d9/703cae282d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/d9/c00035d8097a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/da/507d7d86657a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/db/309560ce8979001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/dc/d0d49716e078001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/dd/60860cc28779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/de/109d5dd91b7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e/50c39102b077001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e/d0661166df78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e0/d01dc0ed8779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e1/50667abade78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e5/201e41051c7a001d11e1e11da247a2a4
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e5/90c09114ac77001d174eff3ef70cdd41
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e6/c0a924ef2d79001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e9/50627df28879001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/e9/706e51998779001d1aac817fd93949db
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/eb/f03708a6df78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ec/90c5dee7df78001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ec/d0dfb9efb777001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ee/60a0c9c02a79001d181ae686ad191e01
ws418/.metadata/.plugins/org.eclipse.core.resources/.history/ee/a037f52aab77001d174eff3ef70cdd41
ws418/it.imt.qflan.xtext.ui.tests/.settings/org.eclipse.core.resources.prefs
ws418/it.imt.qflan.xtext.ui.tests/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.xtext.ui/.settings/org.eclipse.core.resources.prefs
ws418/it.imt.qflan.xtext.ui/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.xtext/.launch/Generate QFLan (qflan) Language Infrastructure.launch
ws418/it.imt.qflan.xtext/.launch/Launch Runtime Eclipse.launch
ws418/it.imt.qflan.xtext/.settings/org.eclipse.core.resources.prefs
ws418/it.imt.qflan.xtext/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.xtext/model/generated/QFLan.ecore
ws418/it.imt.qflan.xtext/model/generated/QFLan.genmodel
ws418/parametricqflanmodels/.settings/org.eclipse.jdt.core.prefs
ws418/uppaalwrapper/.project
ws418/uppaalwrapper/.settings/org.eclipse.jdt.core.prefs
ws418/uppaalwrapper/src/uppaalwrapper/Test.java
ws418/it.imt.qflan.core/lib/z3/CONFIGURATION~
ws418/it.imt.qflan.product.linux64/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.product.macosx/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.product.win64/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.product/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.xtext.ide/.settings/org.eclipse.jdt.core.prefs
ws418/it.imt.qflan.xtext.tests/.settings/org.eclipse.jdt.core.prefs
ws418/matheval/.classpath
ws418/matheval/.project
ws418/matheval/.settings/org.eclipse.jdt.core.prefs
ws418/matheval/src/matheval/MathEval.java
